* {
	color: teal;
	text-align: center;	
}

.dropdown {
	position: relative;
	display: inline-block;
	align-content: center;
	background : transparent;
	color : rgb(16, 16, 58);
	padding : 5px 10px;
	color: white;
	text-align : center;
	border-radius: 25px;
}

.image-camere{
		max-width: 100%;
		height: auto;
}

.h1 {
	color: #4CAF50;
	text-decoration-style: solid;
}

.module-border-wrap {
	border: 4px;
	border-color: #4CAF50;
	border-style: double;
	border-radius: 25px;
	padding: 15px;
  }
  
.span {
	align-content: center;
	background : #8c5ac5;
	color : white;
	padding : 2% 3%;
	display : inline-flex;
	border-radius: 25px;
}

.spantextcolor{
	color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  align-content: center;
  background-color: rgb(48, 196, 196);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
	display: block;
}
	
form {
	border-bottom-color: aqua;
	border-block-end-color: #4CAF50;
	border-block-start-color: #8c5ac5;
}

.border{
	border-left-color: #4CAF50;
	border-right-color: white;
	border-bottom-color: #4CAF50;
	border-top-color: white;
	border-style: dotted; 
}

aside{
	background-color: #8c5ac5;
	margin-left: auto;
	display: block;
}

.image-div{
	height: 150px;
	width: 150px;
}

.home-body{
	background: lightblue url("foto/index.jpeg") no-repeat fixed center ;
	background-size: 100%; 
	max-width: 100%;
	height: auto;
}

.cazare-body{
	background-color: white;
	background-size: 100%; 
	max-width: 100%;
	height: auto;
}

.waterfall{
	background-image: url('foto/waterfall.jpg');
	max-width: 100%;
  	height: auto;
    background-repeat: no-repeat;
	background-position: center; 
	position: fixed;
    right: 0;
    left: 0;
	top: 0;

}	

div > p{
	position: relative;
	background: #8c5ac5;
	padding:3px;
	border-radius: 25px;
	cursor: pointer;
	display: inherit;
	font-size: 14px;
	color: aliceblue;
}

/*button______________________________________________________________*/

button {
	align-content: center;
	background : #8c5ac5;
	color : rgb(16, 16, 58);
	padding : 20px 30px;
	color: white;
	text-align : center;
	border-radius: 25px;
}
button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*button group______________________________*/
.buton-group button {
	background-color: #8c5ac5; 
	border: 1px solid #300641; 
	color: white; 
	cursor: pointer; 
	float: left; 
	border-radius: 0%;
	width: 33.3333%;
	font-size: auto; 
  }
  
  .buton-group button:not(:last-child) {
	border-right: none; 
  }
  
  
  .buton-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  .buton-group button:hover {
	background-color: #59097294;
  }
  /*button end_________________________________________________________________________________*/

  /*- - - - - - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - - - - - - - -- - */

  /* Divuri ^^ containere____________________________________________________________________*/
  .backcazare{
	  background-image: url('../images/backk.jpg');
	  background-size: 100%;
	  position: flex-start;
	  background-position: flex-start;
	  align-content: flex-start
  }