* {
	color: teal;
	text-align: center;	
}
button {
	align-content: center;
	background : #8c5ac5;
	color : rgb(16, 16, 58);
	padding : 2% 3%;
	color: white;
	text-align : center;
	display : inline-flex;	
	border-radius: 25px;
}

.dropdown {
	align-content: center;
	background : #8c5ac5;
	color : rgb(16, 16, 58);
	padding : 2% 3%;
	color: white;
	text-align : center;
	display : inline-flex;	
	border-radius: 25px;
	margin-block-start: 2%;
	}
.flex-container {
  display: flex;
}
.image-camere{
	margin-left: 3%;
	margin-right: 5%;
	width: 600px;
	height: 400px;
}
.h1 {
	color: #4CAF50;
	text-decoration-style: solid;
	padding: 60px, 30px;
}
.module-border-wrap {
	border: 4px;
	border-color: #4CAF50;
	border-style: double;
	border-radius: 25px;
	padding: 15px;
	margin-left: absolute;
	margin-right: absolute;
  }
  
.span {
	align-content: center;
	background : #8c5ac5;
	color : white;
	padding : 2% 3%;
	display : inline-flex;
	border-radius: 25px;
}
.spantextcolor{
	color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(103, 153, 153, 0.699);
  min-width: 25%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 25% 25%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
	
form {
	border-bottom-color: aqua;
	border-block-end-color: #4CAF50;
	border-block-start-color: #8c5ac5;
}
article{
	border-left-color: #4CAF50;
	border-right-color: white;
	border-bottom-color: #4CAF50;
	border-top-color: white;
	border-style: dotted; 
	margin-left: 7%;
	margin-right: 7%;
}
aside{
	background-color: #8c5ac5;
	margin-left: auto;
	display: block;
}
div>div{
	margin-right: 5%;
	text-decoration: underline ;
	text-decoration-style: arial;
	text-decoration-color: red;
	color: green;
}
.image-div{
	height: 150px;
	width: 150px;
}
.home-body{
	background: lightblue url("foto/index.jpeg") no-repeat fixed center ;
	background-size: 100%; 
	max-width: 100%;
	height: auto;
}
.cazare-body{
	background-color: white;
	background-size: 100%;
}
.waterfall{
	background-image: url('foto/waterfall.jpg');
	max-width: 100%;
  	height: auto;
    background-repeat: no-repeat;
	background-position: center; 
	position: fixed;
    right: 0;
    left: 0;
	top: 0;

}	

/*.button-dropdown{
	align-content: center;
	background : #8c5ac5;
	color : rgb(16, 16, 58);
	padding: 15% 100%;
	color: white; 	
	display : inline-table;
	font-size : 16px;
	border-radius: 25px;
}  
.button-dropdownn{
align-content: center;
	background : #8c5ac5;
	color : rgb(16, 16, 58);
	padding : 5.5% 14%;
	color: white;
	text-align : center;
	display : inline-table;
	font-size : 150%;
	border-radius: 25px;
}
*/
div > h3{
	position: relative;
	background: #8c5ac5;
	border-radius: 3px;

}