canvas {
    width: 130px;
    height: 130px;
}
body {
    background-color: rgba(219, 202, 103, 0.562);
}

div {
    position: absolute;
    padding: 2px;
    border: 3px solid blue;
    align-content: center;
    text-align: center;
}
h1 {
    color:rgb(16, 37, 16);
    text-align: center;
}
h4 {
    color: cyan;
    text-align: center;
}
button{
    border: 2px solid black;
    border-radius: 25%;
    padding: 3px;
}